.about__text {
  margin-bottom: 60px;
  background: url('../img/about.png') no-repeat top right/40% auto;

  & p {
    width: 50%;
    max-width: 630px;
  }

  & .red {
    color: red;
  }
}

.about--garant .about__text {
  background-image: url('../img/location.png');
}

.about__button {
  text-align: right;

  & a {
    text-decoration: none;

    &::after {
      content: "\2192";
      vertical-align: middle;
      font-size: 24px;
      padding-left: 17px;
    }
  }
}

.about__name {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__position {
  text-transform: uppercase;
}

.about__table {
  border-collapse: collapse;
  margin-bottom: 50px;

  & td {
    background: rgba(255, 250, 227, 0.96);
    border: 1px solid rgba(251, 194, 58, 0.47);
    padding: 18px 15px;
  }

  &.about__table--garant td {
    background: rgba(255, 250, 227, 0.96);
  }

  & .about__title_table {
    text-transform: uppercase;
    width: 215px;
    border-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    background: $prime-color url("../img/over-black.png") no-repeat center/90% auto;
  }

  &.about__table--garant .about__title_table {
    background: rgba(121, 178, 185, 0.57) url("../img/over-green.png") no-repeat center/90% auto;
  }
}

.about__table--garant {
  margin-bottom: 100px;
}

.about__title {
  font-size: 20px;
  text-transform: uppercase;
}

.about__data {
  margin-bottom: 70px;

  & h2 {
    font-weight: normal;
  }

  & p {
    max-width: 825px;
  }
}

@media (max-width: $mobile-width) {
  .about__text {
    padding-bottom: 200px;
    background-size: auto 200px;
    background-position: bottom center;
    margin-bottom: 0;

    & p {
      width: 100%;
    }
  }

  .about__text ~ div {
    overflow-x: scroll;
  }

  .about__table {
    min-width: 700px;
  }

  .about__table--garant {
    margin-bottom: 30px;
  }

  .about__title {
    font-size: 16px;
    font-weight: normal;
  }

  .page-list.page-list--garant {
    flex-direction: column;
  }

  .about__name {
    font-size: 16px;
  }
}
