.adv {
  margin: 70px 0 80px;
}

.adv__points {
  max-width: 860px;
  margin: 70px auto 80px;
  padding: 0;
  list-style: none;
}

.adv__point {
  margin-bottom: 25px;
  position: relative;
  display: flex;
  padding-left: 100px;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 20px;
    background: url("../img/arrow.png") no-repeat center/contain;
    position: absolute;
    top: 10px;
    left: 0;
  }
}

@media (max-width: $mobile-width) {
  .adv__points {
    margin: 40px auto 50px;
  }

  .adv__point {
    padding-left: 62px;
    font-size: 13px;
    line-height: 18px;

    &::before {
      top: 5px;
      width: 32px;
      height: 15px;
    }
  }
}
