.button {
  display: inline-block;
  padding: 13px 25px;
  color: $light-text;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  transition: 0.3s;
  background-color: $prime-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover,
  &:focus,
  &:active {
    background: #ffbc28;
    color: $light-text;
    box-shadow: 8px 20px 40px rgba(138, 100, 11, 0.3);
  }
}

.button--pay {
  color: $text-color;
  font-size: 11px;
  padding: 13px 15px;
  border: 1px solid $text-color;
  margin-top: 30px;
  background: transparent;
  text-align: center;

  &.button--payacc {
    padding: 12px 50px;
    border-color: $sec-color;
    border-radius: 2px;
    color: $sec-color;
    text-transform: uppercase;
    transition: 0.3s;
  }

  &:hover,
  &:focus,
  &:active {
    background: $sec-color;
    border-color: $sec-color;
    color: $light-text;
    box-shadow: none;
  }
}
