.calc {
  background-color: $sec-color;
  color: #f6f6f6;
  padding: 10px 0 80px;

  &.calc--front {
    padding: 70px 0 80px;
  }
}

.calc__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.calc__title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  max-width: 888px;
  margin: 0 auto 30px;
}

.page__title--calc {
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 30px;
}

.calc__text {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 70px;
}

.calc__list {
  margin: 0 auto 50px;
  max-width: 600px;
  list-style: none;

  & .page-list__item {
    margin-bottom: 10px;
    text-transform: uppercase;

    &:nth-of-type(even)::before {
      background-color: $prime-color;
    }
  }
}

.calc__item {
  width: 40%;

  &.hidmob {
    width: 60%;
    background: #056B78;
    padding: 20px 40px;
    margin-top: -25px;
  }
}

.calc__button {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.calc__wrapper .calc__button {
  margin-left: 40%;
  margin-top: -30px;
  text-align: left;
}

.calc__result {
  display: flex;
  justify-content: space-between;
}

.calc__result-item {
  width: 25%;
  min-width: 133px;

  &--big {
    width: auto;
    flex-shrink: 0;
  }
}

.page--calc .calc__wrapper .range-item {
  margin-top: 52px;
}

@media (max-width: 994px) {
  .calc__result-item {
    width: 33%;

    &--big {
      width: 33%;
    }
  }

  .calc__button {
    margin-top: 20px;
  }
}

.calc__footer {
  margin-top: 50px;
}

.calc__wrapper .switch-button {
  display: flex;
  justify-content: center;
  width: 98px;
  text-align: center;
  cursor: pointer;
  transition: .3s ease all;
  background: #056B78;
  padding: 10px 0;
  float: right;
  margin-top: -75px;
}
.calc__wrapper .switch-button-case {
  display: inline-block;
  background: none;
  position: relative;
  border: none;
  color: #f6f6f6;
  transition: .3s ease all;
  text-transform: uppercase;
  font-style: normal;
  font-size: 20px;
  width: 48px;
  text-align: center;

  &.left {
    border-right: 1px solid #f6f6f6;
  }
}
.calc__wrapper .switch-button-case:hover {
  color: #F2A900;
  cursor: pointer;
}
.calc__wrapper .switch-button-case:focus {
  outline: none;
}
.calc__wrapper .switch-button .active {
  color: #F2A900;
  transition: .3s ease-out all;
}
.calc__wrapper .switch-button .active-case {
  color: #F2A900;
}

.calc__wrapper .arrow-right {
  margin-left: 2px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid rgba(109, 110, 113, 0.5);
}

.calc__wrapper .range-items {
  padding-right: 25px;
}

.calc__wrapper .button-gender-wrap {
  text-align: center;
}

.calc__wrapper .button-gender-wrap a {
  margin: -1px;
  background: #F2A900;
  border: 1px solid #F2A900;
  color: #FFFFFF;
  padding: 16px 22px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 27px;
  text-align: center;
}

.calc__wrapper .range-item {
  margin-top: 65px;
}
.calc__wrapper .range-item:first-child {
  margin-top: 0;
}

.calc__wrapper .range-item .range-title {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 30px;
}

.calc__wrapper label {
  font-size: 20px;
  text-align: right;
  color: rgba(0, 0, 0, 0.8);
}

input[type=range]{
  width:100%;
  display:inline-block;
  background: #000;
  outline: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  width: 57px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top: -17px;
  transition: 0.2s;
  cursor: grab;
}
.calc__wrapper .result-wrap {
  position: relative;
}
.calc__wrapper .range-thumb {
  position: absolute;
  left: 0px;
  /* half :thumb width */
  top: 0;
  width: 57px;
  /* same as :thumb */
  height: 38px;
  /* same as :thumb */
  pointer-events: none;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.055em;
  color: rgba(0, 0, 0, 0.8);

  /* ignore mouse */
}

.calc__wrapper .range-thumb::before {
  content: attr(data-val) " ";
}

input[type=range]::-webkit-slider-thumb:hover,
input[type=range]::-webkit-slider-thumb:focus,
input[type=range]::-webkit-slider-thumb:active {
  /*border-radius: 50%;*/
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background:linear-gradient(to right, #F2A900 calc(var(--value)*1%), #b1b1b1 0);
}
input[type=range]::-moz-range-track {
  height: 2px;
  background:linear-gradient(to right, #F2A900 calc(var(--value)*1%), #b1b1b1 0);
}

input[type=range]::-ms-track {
  background-color: rgb(15, 15, 15);
  height: 2px;
}

input[type=range]::-ms-fill-lower {
  background-color: #F2A900;
}

input[type=range]::-ms-fill-upper {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Firefox Input*/

input[type=range]::-moz-range-track {
  height: 2px;
  background:linear-gradient(to right, #F2A900 calc(var(--value)*1%), black 0);
}

input[type=range]::-moz-range-thumb {
  border: none;
  width: 20px;
  height: 20px;
  background: #115E67!important;
  border: 2px solid #FFFFFF!important;
  border-radius: 10%;
  margin-top: -9px;
  transition: 0.2s;
}

input[type=range]::-moz-range-thumb:hover,
input[type=range]::-moz-range-thumb:focus,
input[type=range]::-moz-range-thumb:active {
  border-radius: 50%!important;
  cursor: pointer;
}

input[type=range]:-moz-focusring{
  outline: none;
  background: transparent;
}

.calc__wrapper .person img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.calc__wrapper .benefit-block {
  text-align: center;
}

.calc__wrapper .benefit-title h4 {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  /*padding: 0 310px;*/
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.calc__wrapper .benefits-wrap {
  position: relative;
  z-index: 999;
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.calc__wrapper .benefits-wrap > div {
  margin-bottom: 15px;
}

.calc__wrapper .benefits-wrap h4 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  color: #E5E5E5;
  position: relative;

  &[style="color: rgb(240, 168, 40);"]::before {
    content: "\2713";
    position: absolute;
    top: 0;
    left: -15px;
  }
}

.calc__wrapper .benefits-wrap > div:nth-child(1) h4,
.calc__wrapper .benefits-wrap > div:nth-child(2) h4,
.calc__wrapper .benefits-wrap > div:nth-child(3) h4 {
  color: rgba(0, 0, 0, 0.8);
}

.calc__wrapper .pension-subtitle {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.calc__wrapper .calc-titles {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.calc__wrapper .pension-wrap {
  position: relative;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #ebebeb;
}

.calc__wrapper .person-title,
.calc__wrapper .battery-title {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.calc__wrapper .battery-title {
  text-align: left;
}

.calc__wrapper .person-left {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 350px;
  background-position-y: center;
  height: 100%;
  z-index: 10;
}

.calc__wrapper .person-right-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 350px;
  z-index: 99;
}

.calc__wrapper .person-right-wrap .person-right {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 500px;
  background-position-y: center;
  height: 100%;
  z-index: 10;
}

.calc__wrapper .person-right-wrap .person-right-bag {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -25px;
  z-index: 11;
  background-image: url("../img/male-48.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 132px;
  height: 292px;
  max-height: 260px;
}

.calc__wrapper .person-right-wrap .person-right-car {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -17%;
  z-index: 0;
  background-image: url(../images/calculator/man-car.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 180%;
  height: 100%;
  max-height: 260px;
}

.calc__wrapper .pension-result {
  font-size: 24px;
  text-align: center;
}

.calc__wrapper .pension-result span {
  color: #F0A828;
  font-size: 28px;
}
.calc__wrapper .pension-result-title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}
.calc__wrapper .pension-result-currency {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 15px;
}
.calc__wrapper .liga-btn-two {
  padding: 15px 85px;
}
.calc__wrapper p.calc-attention {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  /* or 122% */
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  padding-top: 3px;
}
.calc__wrapper p.calc-attention span {
  color: #F2A900;
}

.calc__wrapper .mobile-block {
  position: relative;
  width: 100%;
}

.calc__wrapper  .mobile-block .person-right-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 400px;
  z-index: 99;
}

.calc__wrapper .mobile-block .person-left {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 400px;
  max-height: 400px;
  background-position-y: center;
  background-position-x: center;
  height: 100%;
  z-index: 10;
}

.calc__wrapper .mobile-block .person-right-wrap .person-right {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 400px;
  max-height: 400px;
  background-position-y: center;
  background-position-x: center;
  height: 100%;
  z-index: 10;
}

.calc__wrapper .mobile-block .person-right-wrap .person-right-bag {
  max-height: 230px;
  margin-left: 45px;
}

.calc__wrapper .person-right-wrap .person-right-car {
  bottom: 25px;
  max-height: 180px;
}

.calc__wrapper .calc-titles i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 992px) {
  .calc__wrapper .calc-button {
    padding-right: 45px;
  }
}

.calc__wrapper .setValue {
  position: absolute;
  top: 0;
  left: 50%;
  width: 60px;
  height: 1em;
  text-align: center;
  color: red;
  font-weight: bold;
  white-space: nowrap;
}

.ui-widget-content {
  background: #F7B20E;
  margin-top: 30px;
}

.ui-slider .ui-slider-handle {
  position: absolute;
    z-index: 99;
    width: auto;
    padding: 16px 30px 24px 10px;
    cursor: default;
    margin: 0 -5px auto !important;
    text-align: center;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 32px;
}
@media only screen and (max-width: 991px) {
  .ui-slider .ui-slider-handle {
    margin: 0 -40px auto !important;
  }
}
@media only screen and (max-width: 576px) {
  .ui-slider .ui-slider-handle {
    line-height: 31px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
  }
}

.ui-slider .ui-slider-handle .glyphicon {
  color: #FFFFFF;
  font-size: 13px;
  opacity: 0.5;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -32px;
}

#slider-age .ui-state-default,
#slider-age .ui-widget-content .ui-state-default {
  background: url("../img/range-one.png") no-repeat center/contain;
}

#slider-ageOut .ui-state-default,
#slider-ageOut .ui-widget-content .ui-state-default {
  background: url("../img/range-two.png") no-repeat center/100% auto;
}

#slider-deposit.ui-slider .ui-slider-handle {
  padding-top: 8px;
}

#slider-deposit.ui-slider-horizontal .ui-slider-handle {
    top: -25px;
}

#slider-deposit .ui-state-default,
#slider-deposit .ui-widget-content .ui-state-default {
  background: url("../img/range-three.png") no-repeat center/100% auto;
}

#slider-period .ui-state-default,
#slider-period .ui-widget-content .ui-state-default {
  background: url("../img/range-four.png") no-repeat center/contain;
}

#slider-income .ui-state-default,
#slider-income .ui-widget-content .ui-state-default {
  background: url("../img/range-five.png") no-repeat center/contain;
}

.ui-slider .ui-slider-handle {
  cursor: pointer;
}

.ui-slider span,
.ui-slider span:focus {
  cursor: pointer;
  outline: none;
}

.ui-slider-range-min {
  height: 4px;
  background: #f6f6f6;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #6a7989;
  height: 50px;
  font-size: 16px;
  padding: 10px 20px;
  outline: none;
    border: none;
  border: 1px solid rgba(50, 93, 101, .01);
  outline: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: rgba(50, 93, 101, .01);
}

@media (max-width: 860px) {
  .calc__wrapper {
    padding: 0;
  }

  .calc__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .calc__text {
    padding: 0 20px;
  }

  .calc__item {
    width: 100%;
    padding: 0 20px;

    &.hidmob {
      width: 100%;
      margin-top: 30px;
      padding: 40px 10px;
    }
  }

  .calc__button {
    display: none;
  }

  .calc__result-item.hidxs {
    width: 27%;
  }

  .calc__result-item {
    min-width: 120px;
  }

  .calc__wrapper .person-title,
  .calc__wrapper .battery-title {
    font-size: 13px;
    text-align: center;
    min-height: 32px;
  }

  .calc__wrapper .person-right-wrap .person-right,
  .calc__wrapper .person-left {
    background-position: top center;
    max-height: 320px;
  }

  .calc__wrapper .benefits-wrap h4 {
    font-size: 15px;
  }

  .calc__wrapper .pension-result {
    font-size: 16px;
  }

  .calc__wrapper .pension-result span {
    font-size: 18px;
  }

  .calc__wrapper .range-items {
    padding: 0 25px;
  }
}
