.faq {
  padding: 70px 0 100px;
}

.faq__title {
  font-weight: normal;
  font-size: 42px;
  margin: 0 0 50px;
  text-align: center;
}

.faq__list {
  padding: 0;
  list-style: none;
}

.faq__list--page {
  max-width: 870px;
}

.faq__item-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin: 0;

  &--list {
    font-weight: normal;
    padding-bottom: 10px;
    padding-right: 40px;
  }
}

.faq__link {
  width: 100%;
  padding: 20px 60px;

  &--next {
    color: $text-color;
    width: 100%;
    position: relative;
    padding: 20px 60px;
    border-bottom: 2px solid #EBEBEB;

    & .faq__item-title {
      font-size: 18px;
      text-transform: inherit;
    }

    &::after, &::before {
      content: "";
      display: block;
      width: 24px;
      height: 3px;
      background-color: #979797;
      position: absolute;
    }

    &::after {
      top: 25px;
      right: 25px;
    }

    &::before {
      transform: rotate(90deg);
      top: 25px;
      right: 25px;
    }
  }

  &--list {
    color: $text-color;
    padding: 20px 25px;
    border-bottom: 1px solid #E0E0E0;
    position: relative;

    &::after, &::before {
      content: "";
      display: block;
      width: 24px;
      height: 3px;
      background-color: $prime-color;
      position: absolute;
    }

    &::after {
      top: 35px;
      right: 10px;
    }

    &::before {
      transform: rotate(90deg);
      top: 35px;
      right: 10px;
    }

    &.open::before {
      display: none;
    }

    &.open {
      background: #F7F6F3;

      & ~ .faq__detail--list {
        background: #F7F6F3;
      }
    }
  }
}

.faq__item {
  margin-bottom: 10px;
  background: $bg-color url("../img/Path.png") no-repeat top 21px right 25px;

  &--list {
    background: transparent;

    &.open {
      background: #f7f6f3;
    }
  }
}

.faq__detail {
  display: none;
  background: #fff;

  &--next {
    display: none;
    padding: 20px 60px;
    border-bottom: 2px solid #EBEBEB;
  }

  &--list {
    padding: 20px;
    background: $bg-color;
  }
}

.faq__list--main .faq__detail > p {
  padding: 20px 60px 0;
}

.detail-list {
  list-style: none;
  padding: 0;

  & > li {
    margin-bottom: 15px;
  }

  & > li::before {
    content: "";
    width: 12px;
    height: 12px;
    background: #C4C4C4;
    display: inline-block;
    margin-right: 10px;
  }
}

@media (max-width: $mobile-width) {
  .faq {
    padding: 50px 0 30px;
  }

  .faq__link {
    padding: 20px;
  }

  .faq__title {
    font-size: 20px;
  }

  .faq__detail {
    padding: 10px;
    background: $bg-color;
  }

  .faq__detail--next {
    padding: 10px;
  }

  .faq__item {
    margin-bottom: 0;
    padding: 10px 15px;
    background: #f7f6f3 url('../img/Path.png') no-repeat top 25px right 25px/16px 16px;

    &--list {
      background: transparent;
    }
  }


  .faq__item-title {
    font-size: 15px;
  }

  .page--faq {
    & .faq__item {
      padding: 10px;
    }

    & .faq__link,
    & .faq__title,
    & .faq__detail {
      padding: 10px;
    }

    & .faq__item-title {
      font-size: 13px;
      text-transform: inherit;
    }
  }

  .faq__list--main .faq__detail > p {
    padding: 10px;
  }

  .faq__link--next .faq__item-title {
    font-size: 13px;
  }

  .faq__link--next {
    padding: 10px 20px;
  }

  .faq__link--next::after,
  .faq__link--next::before {
    width: 14px;
    height: 2px;
  }

  .faq__link--next::after {
    top: 20px;
    right: 10px;
  }

  .faq__link--next::before {
    top: 20px;
    right: 10px;
  }

  .faq__link--list::before,
  .faq__link--list::after {
    top: 18px;
  }
}
