.menu {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 15px;
}

.menu__item {
  margin: 25px 20px;
  position: relative;
}

.menu__link {
  text-transform: uppercase;
  color: $text-color;
  font-size: 15px;
  text-decoration: none;
  position: relative;

  &:hover,
  &:focus,
  &:active {
    color: $text-color;
    font-weight: bold;
  }
}

.menu__item:hover > .menu__link,
.menu__item:focus > .menu__link,
.menu__item:active > .menu__link,
.menu__item.active > .menu__link {
  color: $text-color;
  font-weight: bold;

  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 3px;
    left: -18px;
    background-color: $prime-color;
  }
}

.popap-menu__link {
  color: $text-color;
  font-size: 15px;
  text-decoration: none;
  position: relative;

  &:hover,
  &:focus,
  &:active {
    color: $text-color;
    font-weight: bold;
  }
}

.popap-menu__item:hover > .popap-menu__link,
.popap-menu__item:focus > .popap-menu__link,
.popap-menu__item:active > .popap-menu__link,
.popap-menu__item.active > .popap-menu__link {
  color: $text-color;
  font-weight: bold;

  &::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background-color: $prime-color;
  }
}

.popap-menu__item-title {
  font-size: 16px;
  color: $sec-color;
}

.popap-menu {
  padding: 40px 0 0;
  width: 220px;
  margin: 0;
  list-style: none;
  transition: 0.3s;
  background: $bg-color;
  display: none;

  &--text {
    width: 450px;

    & .popap-menu__item {
      width: 45%;
      float: right;
    }
  }

  &.abs {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: -15px;
    margin-top: 50px;
    left: 0;
    background: transparent;
    opacity: 0;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      height: auto;
      z-index: 10;
      background: $bg-color;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    }
  }
}

.popap-menu--iner {
  padding-left: 10px;
  list-style: none;
  text-transform: inherit;
  margin: 15px 0;

  & .popap-menu__item:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

.mobile-menu .menu__item:first-of-type .popap-menu {
  width: 275px;
}

.menu__item:hover > .popap-menu.abs,
.menu__item:focus > .popap-menu.abs,
.menu__item:active > .popap-menu.abs  {
  opacity: 1;
  height: auto;
  padding: 20px;
  background: $bg-color;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.popap-menu--main {
  text-transform: uppercase;
}

.popap-menu__item:not(:last-of-type) {
  margin-bottom: 25px;
}

#menu__toggle {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: none;

  &.close {
    background-image: url("../img/menu.svg");
  }

  &.open {
    background-image: url("../img/cross.png");
  }
}

@media (max-width: $mobile-width) {
  #menu__toggle {
    display: block;
  }

  .menu {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .menu__link {
    position: relative;
    font-size: 13px;
  }

  .menu__item {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    margin: 0;
    border-bottom: 1px solid $sec-color;
    position: relative;

    &--explosion .menu__link::after {
      content: "";
      width: 10px;
      height: 6px;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      right: -25px;
      background: url("../img/arr.svg") no-repeat center/contain;
    }

    &--open .popap-menu{
      display: block;
    }

    &--open {
      padding-bottom: 0;
    }
  }

  .popap-menu {
    width: 100%;
    padding-top: 20px;
  }

  .mobile-menu .menu__item:first-of-type .popap-menu  {
    width: 100%;
  }

  .popap-menu__item {
    width: 100%;
    padding: 20px;
    font-size: 11px;
    border-top: 1px solid #fff;
    margin-bottom: 0 !important;
  }

  .popap-menu__item-title {
    font-size: 14px;
  }

  .popap-menu__link {
    font-size: 13px;
  }
}
