.modal {
  position: fixed;
  background-color: #fff;
  max-height: 100%;
  max-width: 94%;
  width: 1150px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  padding: 50px 65px 30px;
  box-shadow: 0px 8px 20px rgba(123, 122, 122, 0.25);
  display: none;

  & .modal__item {
    font-size: 15px;
  }
}

.modal--fade {
  width: 1100px;
  padding: 20px 50px 300px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1011;
  background: #fff url('../img/business.png') no-repeat bottom center/auto 40%;
}

.modal--pay {
  width: 1100px;
  padding: 20px 50px 300px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1011;
  background: #fff url('../img/pay.png') no-repeat bottom center/auto 40%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.modal-close {
  font-size: 45px;
  color: $sec-color;
}

.modal-body {
  font-size: 20px;
  color: $prime-color;
  max-width: 705px;
  margin: 50px auto 0;

  & h2 {
    font-size: 45px;
    font-weight: normal;
    color: $sec-color;
  }

  & .bigger {
    font-size: 30px;
  }
}

body::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: none;
}

.modal-overlay-show::after {
  display: block;
}

.modal__close {
  position: absolute;
  top: 18px;
  right: 25px;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.modal__close::before, .modal__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 2px;
  background-color: #323232;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

.modal__list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0 0 15px;
}

.modal__item {
  position: relative;
  flex: 1 1 auto;
  padding: 0 20px 0 80px;
  margin-bottom: 15px;

  &::before {
    content: "";
    width: 56px;
    height: 52px;
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
  }

  &--one::before {
    background: url('../img/one.png') no-repeat center/contain;
  }

  &--two::before {
    background: url('../img/two.png') no-repeat center/contain;
  }
}

.modal__form {
  width: 400px;
  max-width: 94%;
  margin: 0 auto;

  &--page {
    margin-bottom: 50px;
  }
}

.modal__label {
  font-size: 15px;
  color: $sec-color;
}

.modal__input {
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f5a800;
  padding: 6px 10px;
  font-size: 14px;
  margin-bottom: 30px;
  outline: 0;
}

.modal__input:hover {
  border-color: $sec-color;
}

.modal__input:active, .modal__input:focus {
  background-color: rgba($prime-color, 0.1);
}

.modal__input::placeholder {
  color: #F8CB5E;
  font-weight: 450;
}

.modal__input--file {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.file {
  opacity: 0;
  order: -1;
  position: absolute;
}

.modal__label--file {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &::before {
    content: "Паспорт / ID картка та ІПН";
    width: 180px;
    color: #F8CB5E;
    font-size: 13px;
    padding-top: 30px;
    display: block;
    margin-bottom: 3px;
    background: url('../img/download.png') repeat-x left top;
  }
}

.modal__prim {
  font-size: 14px;
  color: #6F6F6F;
  margin-bottom: 25px;
}

.modal__none {
  display: none;
}

.modal__checkbox {
  margin-bottom: 50px;
}

.modal__label-check {
  font-size: 14px;
  position: relative;
}

.modal__form input[type="checkbox"]:checked + label,
.modal__form input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.modal__form input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 24px;
  height: 24px;
  border: 4px solid $prime-color;
  border-radius: 5px;
}

.modal__form input[type="checkbox"]:checked + label:before {
  background-color: $prime-color;
}

.modal__form input[type="checkbox"]:checked  + label:after {
  content: "\2713";
  position: absolute;
  left: 5px;
  top: -4px;
  width: 20px;
  height: 20px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.modal__button {
  margin: 0 auto;
  border: none;
}

//for old openaccount page
.open-account {
  font-family: $regular-font !important;
}

.msf-content .text-block:nth-child(2), .msf-header .text-block:nth-child(2) {
  font-weight: 450;
  font-style: normal;
}

.step.active .step-circle {
  width: 60px !important;
  height: 60px !important;
}

.progress-steps .step .label {
  font-family: $regular-font;
}

.progress-steps .step.active .label {
  font-weight: bold;
  text-decoration: underline;
}

.step-circle--one {
  border: none !important;
  background: url('../img/one.png') no-repeat center/contain !important;
}

.step-circle--two {
  border: none !important;
  background: url('../img/two.png') no-repeat center/contain !important;
}

.step-circle--three {
  border: none !important;
  background: url('../img/three.png') no-repeat center/contain !important;
}

.ajaxform.modal__form {
  width: 490px;
}

p.input-subtitle {
  font-family: $regular-font;
  font-style: normal;
  color: $sec-color;
  margin-top: -15px;
}

button.button.eds {
  width: 100%;
  font-size: 16px;
  font-family: $regular-font;
}

.contract .code-wrapper {
  display: block;
}

@media (max-width: $mobile-width) {
  .modal {
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .modal__list {
    flex-wrap: wrap;

    & .modal__item  {
      margin-bottom: 25px;
    }
  }

  .modal__item {
    width: 400px;
    max-width: 95%;
  }

  .modal--pay {
    padding: 20px 20px 190px;
    background-size: auto 190px;
  }

  .modal-header img {
    width: 70px;
  }

  .modal-body {
    font-size: 15px;

    & h2 {
      font-size: 30px;
    }

    & .bigger {
      font-size: 22px;
    }
  }
}
