.moneybox {
  background-color: $bg-color;
  padding: 70px 0 100px;
  text-align: center;
}

.moneybox__title {
  font-weight: normal;
  font-size: 42px;
  margin: 0 0 50px;
}

.moneybox__text {
  max-width: 959px;
  margin: 0 auto 70px;
}

.moneybox__button {
  margin-bottom: 50px;
}

.moneybox__list-wrapper {
  margin: 30px auto;
  overflow-x: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.moneybox__list {
  width: 1010px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 130px 0 0;
  list-style: none;
  background: url("../img/steps-desctop.png") no-repeat top center;
}

.moneybox__item {
  width: 170px;
}

@media (max-width: $mobile-width) {
  .moneybox {
    padding: 50px 0 30px;
  }

  .moneybox__title {
    font-size: 20px;
  }

  .moneybox__text {
    font-size: 13px;
    margin-bottom: 30px;
  }

  .moneybox__list-wrapper {
    overflow-x: normal;
  }

  .moneybox__list {
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    padding: 0;
    background: url("../img/steps-mob.png") no-repeat top left;
  }

  .moneybox__item {
    font-size: 15px;
    width: auto;
    max-width: 175px;

    &:first-of-type {
      margin-left: 90px;
      margin-bottom: 68px;
      margin-top: 10px;
    }

    &:nth-of-type(2) {
      margin-left: 180px;
      margin-bottom: 72px;
    }

    &:nth-of-type(3) {
      margin-left: 256px;
      margin-bottom: 74px;
    }

    &:nth-of-type(4) {
      margin-left: 175px;
    }
  }
}
