.pay-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 170px;
  background: url('../img/purchase.png') no-repeat bottom right/40% auto;
}

.pay-form__label {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.pay-form__input {
  width: 457px;
  max-width: 95%;
  min-height: 45px;
  background-color: $bg-color;
  margin-bottom: 35px;
  border: none;
  padding: 12px 18px;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    border: none;
    outline: none;
    background-color: rgba($prime-color, 0.1);
  }
}

.pay-form__button {
  margin-top: 50px;
}

@media (max-width: $mobile-width) {
  .pay-form {
    padding-bottom: 200px;
    background-position: bottom left;
    background-size: auto 200px;
  }

  .pay-form__button {
    width: auto;
    margin: 50px auto 0;
  }

  .tab__button {
    margin-bottom: 30px;
  }
}
