.perehod {
  padding-top: 40px;
  padding-left: 63px;
  background: url('../img/why.png') no-repeat top 86px right 48px/27% auto;
}

.perehod__accent {
  background-color: $bg-color;
  padding: 40px 0;
  margin-bottom: 70px;

  & .wrapper * {
    max-width: 770px;
  }
}

.perehod__title {
  margin: 0 0 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 450;
}

.perehod__how {
  margin-bottom: 80px;

  & .wrapper * {
    max-width: 770px;
  }
}

.perehod__button {
  margin-top: 50px;
}

@media (max-width: 992px) {
  .perehod {
    padding-left: 20px;
    background-size: 30% auto;
  }
}

@media (max-width: 790px) {
  .perehod {
    background-position: top 50px right;
    background-size: 23% auto;
  }
}

@media (max-width: 485px) {
  .perehod {
    background-position: top 85px right;
    background-size: 28% auto;
  }
}
