.tabs {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.page--npf .tabs-wrapper {
  margin-top: 30px;
}

.tab {
  display: inline-block;
  color: $text-color;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
  margin: 0 10px;
  padding-bottom: 15px;
  position: relative;
  max-width: 150px;
  transition: 0.5s;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $text-color;
    font-weight: bold;
    border-color: $prime-color;
    padding-left: 30px;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      background-color: $prime-color;
    }
  }
}

.page--payaccount .tab {
  max-width: 100%;
}

.tab-item {

  &--three {
    background: url('../img/delivery_hand.png') no-repeat bottom right/37% auto;
  }

  &--four {
    background: url('../img/communication_chat.png') no-repeat bottom right/auto 100%;
  }
}

.page--npf .tab-item {
  padding-left: 0;
}

.tab__text {
  max-width: 700px;

  &--upper {
    text-transform: uppercase;
  }

  & a {
    text-transform: uppercase;
  }
}

.tab-item--four .tab__text--upper {
  padding-bottom: 120px
}

.tab__button {
  margin: 47px 0 100px;
}

.tab__table {
  border-collapse: collapse;
  margin-top: 45px;

  & td {
    padding: 0 50px 15px 0;
    max-width: 460px;

    &:nth-of-type(odd) {
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}

.tabs-wrapper--report {
  background: rgba(245, 168, 0, 0.79);
  padding: 45px 50px;
  margin-bottom: 140px;
}

.tabs--report {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 25px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.58);
}

.tab--report {
  padding: 0 20px 15px;
  font-size: 18px;
  position: relative;
  cursor: pointer;

  &.active {
    font-weight: bold;

    &::after {
      content: "";
      width: 100%;
      height: 8px;
      background: $sec-color;
      position: absolute;
      bottom: -5px;
      left: 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .tabs {
    flex-wrap: nowrap;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .tab {
    flex: 1 1 150px;
    margin-right: 20px;
    min-width: 112px;

    &:hover,
    &:focus,
    &:active,
    &.active {
      padding-left: 20px;

      &::before {
        width: 13px;
        height: 13px;
        top: 3px;
      }
    }
  }

  .tabs-wrapper--report {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .tabs--report {
    order: 2;
    width: 120px;
    margin-bottom: 0;
    flex-direction: column;
    border-bottom: none;
    border-right: 2px solid rgba(255, 255, 255, 0.58);
  }

  .tab--report {
    padding: 15px;
    margin-bottom: 20px;

    &.active::after {
      width: 8px;
      height: 100%;
      left: auto;
      right: -5px;
    }
  }

  .tab__text--upper {
    max-width: 70%;
  }

  .tab-item--three {
    background: url('../img/delivery_hand.png') no-repeat top right/37% auto;
  }

  .tab__table tr {
    display: flex;
    flex-wrap: wrap;
  }

  .tab__table td {
    padding: 0 15px 15px 0;
  }

  .tab-item--four {
    background: url('../img/communication_chat.png') no-repeat center right/25% auto;
  }

  .tab-item--four .tab__text--upper {
    padding-bottom: 50px;
  }
}
