.top-menu {
  width: 170px;
  margin-top: 25px;
  flex-shrink: 0;
}

.top-menu__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.lang {
  flex: 1 1 auto;
  text-align: right;
  padding: 0 10px;
  border-right: 1px solid $text-color;
  margin-right: 20px;
}

.link-icon {
  text-decoration: none;
}

.top-menu__icon {
  fill: $text-color;
  margin-right: 10px;
  transition: 0.3s;

  &:hover {
    fill: $prime-color;
  }
}

.top-menu__social {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: -50px;
  right: 0;
  min-width: 166px;
  justify-content: space-between;

  & .top-menu__icon {
    margin-right: 0;
  }

  & .link-icon:not(:last-of-type) {
    margin-right: 5px;
  }
}

.link-phone {
  color: $text-color;
  text-decoration: none;
  font-size: 14px;
}

.top-menu__phones {
  display: none;
  position: absolute;
  background: $bg-color;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 30px 0 15px;
  width: 245px;
  top: 35px;
  right: 0;
  z-index: 10;

  & .link-icon {
    margin-bottom: 20px;
    color: $text-color;
  }

  & .top-menu__icon {
    margin-right: 15px;
    vertical-align: baseline;
  }
}

@media (max-width: $mobile-width) {
  .mobile-menu {
    display: none;
  }

  .top-menu {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .top-menu__wrapper {
    justify-content: space-between;
    align-items: baseline;
  }

  .top-menu__icon {
    margin-right: 0;
    margin-top: 30px;
  }

  .mobile-menu .link-phone{
    display: none;
    margin-top: 30px;
  }

  .top-menu__social {
    margin: 0;
    margin-top: 30px;
    flex-direction: row;
    min-height: auto;
    position: static;
    min-width: 100px;
    margin-right: 50%;
    transform: translateX(50px);
  }

  .top-menu .button--pay {
    order: -1;
    width: 100%;
    margin: 30px 0 0;
  }
}
