/*Шрифты*/

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff"),
    url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff"),
    url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2");
  font-style: bold;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Medium.woff") format("woff"),
    url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 450;
  font-display: swap;
}

/*Переменные*/
$regular-font: 'Avenir Next Cyr', "Arial", sans-serif;
$prime-color: #f5a800;
$text-color: #0a0000;
$sec-color: #035c67;
$bg-color: #f7f6f3;
$light-text: #f6f6f6;
$desktop-width: 1200px;
$mobile-width: 785px;

%wrapper {
  max-width: $desktop-width;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  @extend %wrapper;
}

.upper {
  text-transform: uppercase;
}
