.why {
  background-color: #f2f2f2;
  padding: 70px 0 100px;
  text-align: center;
}

.why__title {
  font-weight: normal;
  font-size: 42px;
  margin: 0 0 115px;
}

.why__list {
  list-style: none;
  text-align: left;
  padding: 70px 0 0;
  background-image: url("../img/why.png"), url("../img/lines.png");
  background-position: center, top center;
  background-repeat: no-repeat;
}

.why__item {
  max-width: 300px;
  margin-bottom: 100px;

  &--two {
    margin-bottom: 75px;
  }

  &--three {
    margin-bottom: 63px;
    margin-left: 274px;
  }

  &--four {
    float: right;
    margin: -435px 73px 0 0;
  }

  &--five {
    float: right;
    margin: -196px 200px 0 0;
  }
}

.why__item-title {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

@media (max-width: 1180px) {
  .why__item--four {
    margin-right: 34px;
  }

  .why__item--five {
    margin-right: 105px;
  }
}

@media (max-width: 980px) {
  .why__title {
    margin-bottom: 20px;
  }

  .why__list {
    padding-top: 295px;
    background: url("../img/why.png") no-repeat top center;
  }

  .why__item--one,
  .why__item--two,
  .why__item--three,
  .why__item--four,
  .why__item--five {
    float: none;
    margin: 0 0 20px;
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .whu {
    padding: 50px 0 30px;
  }

  .why__title {
    font-size: 20px;
  }

  .why__item {
    margin-bottom: 30px;
  }

  .why__item-title {
    font-size: 15px;
    position: relative;

    &::after {
      content: "^";
      display: inline-block;
      margin-left: 10px;
      font-weight: normal;
      transform: rotate(180deg) scaleX(1.4);
    }

    &.open::after {
      transition: 0.5s;
      transform: rotate(0deg) scaleX(1.4);
    }
  }

  .why__item-text {
    display: none;
  }
}
