.work {
  background-color: $bg-color;

}

.work__title {
  text-align: center;
  padding-top: 70px;
  margin: 0;
  font-size: 42px;
  font-weight: normal;
}

.work__wrapper {
  padding: 50px 0 100px;
  display: flex;

  & > div {
    width: 50%;
  }
}

.work__image {
  margin-right: 60px;
}

.work__main {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 20px 0;
}

.work__button {
  margin-top: 40px;
}

@media (max-width: $mobile-width) {
  .work__wrapper {
    flex-direction: column;
    padding: 20px 0 50px;

    & > div {
      width: 100%;
    }
  }

  .work__title {
    padding-top: 40px;
  }

  .work__image {
    margin-right: 0;
  }

  .work__text {
    margin-top: 20px;
  }

  .work__main {
    font-size: 16px;
    line-height: 24px;
  }

  .work__button {
    display: none;
    margin-top: 0;
  }
}
